RewriteEngine On

RewriteRule ^/tracker$ /tracker.php [L]
RewriteRule ^/faq$ /faq.php [L]
RewriteRule ^/users$ /users.php [L]
RewriteRule ^/online$ /online.php [L]
RewriteRule ^/profile$ /profile.php [L]
RewriteRule ^/gallery$ /gallery.php [L]
RewriteRule ^/donate$ /donate.php [L]
RewriteRule ^/logout$ /logout.php [L]
RewriteRule ^/login$ /login.php [L]
RewriteRule ^/register$ /register.php [L]

RewriteRule ^/tracker/$ /tracker.php [L]
RewriteRule ^/faq/$ /faq.php [L]
RewriteRule ^/users/$ /users.php [L]
RewriteRule ^/online/$ /online.php [L]
RewriteRule ^/profile/$ /profile.php [L]
RewriteRule ^/gallery/$ /gallery.php [L]
RewriteRule ^/donate/$ /donate.php [L]
RewriteRule ^/logout/$ /logout.php [L]
RewriteRule ^/login/$ /login.php [L]
RewriteRule ^/register/$ /register.php [L]