a {
	filter: contrast(4) brightness(0.5);
}

h3 > a {
	filter: none;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

.footer {
	visibility: hidden;
}

.input-sm {
    font-size: 14px;
}

.big-letter {
	float: left;
	font-size: 20px;
	margin-right: 10px;
	margin-top: -6px;
}

.list-group-item {
	border: none;
}

table.index-topics th:nth-child(2), table.index-topics td:nth-child(2) {
	text-align: center;
	width: 200px;	
}

table.index-topics th:nth-child(3), table.index-topics td:nth-child(3) {
	text-align: center;
	width: 200px;
}

table.index-posts th:nth-child(1), table.index-posts td:nth-child(1) {
	text-align: center;
	width: calc((100% - 400px) / 2);
}

table.index-posts th:nth-child(2), table.index-posts td:nth-child(2) {
	text-align: center;
	width: calc((100% - 400px) / 2);
}

table.index-posts th:nth-child(3), table.index-posts td:nth-child(3) {
	text-align: center;
	width: calc((100% - 400px) / 2);
}

table.index-posts th:nth-child(4), table.index-posts td:nth-child(4) {
	text-align: center;
	width: 100px;
}

table.index-posts th:nth-child(5), table.index-posts td:nth-child(5) {
	text-align: center;
	width: 300px;
}

.topic-posts {
	background-color: whitesmoke;
	border: 1px solid blue;
}

.topic-posts:last-child {
	margin-bottom: 0;
}

table.topic-posts td {
	border-top: none !important;
}

table.topic-posts tr:nth-child(1) {
	background-color: lightsteelblue;
}

table.topic-posts tr:nth-child(2) > td {
	padding: 15px 8px 15px 8px;
}  

table.topic-posts td:nth-child(1) {
	width: 50px;
}

table.topic-posts td:nth-child(2) {
	width: 400px;
}

table.topic-posts td:nth-child(3) {
	text-align: left;
}

.tracker-posts {
	background-color: whitesmoke;
	border: 1px solid blue;
}

.tracker-posts:last-child {
	margin-bottom: 0;
}

table.tracker-posts td {
	border-top: none !important;
}

table.tracker-posts tr:nth-child(1) {
	background-color: lightsteelblue;
}

table.tracker-posts tr:nth-child(2) > td {
	padding: 15px 8px 15px 8px;
}  

table.tracker-posts td:nth-child(1) {
	width: 400px;
}

table.tracker-posts td:nth-child(2) {
	width: 400px;
}

table.tracker-posts td:nth-child(3) {
	text-align: left;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-file input[type=submit] {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 540px;
    height: 540px;
}