.footer {
	visibility: hidden;
}

.input-sm {
    font-size: 14px;
}

.big-letter {
	float: left;
	font-size: 20px;
}

table.index-topics th:nth-child(2), table.index-topics td:nth-child(2) {
	text-align: center;
	width: 200px;	
}

table.index-topics th:nth-child(3), table.index-topics td:nth-child(3) {
	text-align: center;
	width: 200px;
}

table.index-posts th:nth-child(4), table.index-posts td:nth-child(4) {
	text-align: center;
	width: 200px;
}

table.index-posts th:nth-child(5), table.index-posts td:nth-child(5) {
	text-align: center;
	width: 300px;
}
